@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* =10px */
svg {
  fill: white;
}

svg:hover {
  fill: blue;
}

.header__bluebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
}

.slider {
  width: 100%;
  height: 98.3rem;
  position: relative;
  overflow: hidden;
}

.slider__items {
  width: 100%;
  height: 100%;
}

.slider__items .item {
  display: none;
  position: relative;
}

.slider__items .active {
  display: block;
}

.slider .left-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .left-slide:hover {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: #29a8e2;
}

.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  top: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .right-slide:hover {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: #29a8e2;
}

#slide1 {
  background-image: url(/images/1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 3, 3, 0.75);
  background-blend-mode: multiply;
  color: white;
  line-height: 98.3rem;
  text-align: center;
  font-size: 3rem;
  background-attachment: fixed;
}

#slide2 {
  background-image: url(/images/2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 3, 3, 0.75);
  background-blend-mode: multiply;
  color: white;
  line-height: 98.3rem;
  text-align: center;
  font-size: 3rem;
  background-attachment: fixed;
}

#slide3 {
  background-image: url(/images/1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 3, 3, 0.75);
  background-blend-mode: multiply;
  color: white;
  line-height: 98.3rem;
  text-align: center;
  font-size: 3rem;
  background-attachment: fixed;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 2.5rem;
  width: 100%;
}

.header__search {
  padding-top: 24px;
  padding-left: 24px;
}

.header__search svg {
  width: 22px;
  height: 30px;
  fill: white;
}

.header__logo img {
  width: 100px;
  height: 100px;
}

.header__logo .title {
  position: absolute;
  top: 7em;
  color: white;
  top: 10rem;
  left: 38%;
  width: 50%;
  height: 15rem;
  word-spacing: 0.5rem;
}

.header__logo .title .item-1,
.header__logo .title .item-2,
.header__logo .title .item-3 {
  position: absolute;
  display: block;
  color: white;
  width: 50rem;
  height: 10rem;
  z-index: 2;
  font-size: 20px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header__logo .title .item-1 {
  -webkit-animation-name: anim-1;
          animation-name: anim-1;
}

.header__logo .title .item-2 {
  -webkit-animation-name: anim-2;
          animation-name: anim-2;
}

.header__logo .title .item-3 {
  -webkit-animation-name: anim-3;
          animation-name: anim-3;
}

.header__hammenu {
  margin-right: 24px;
  margin-top: 33px;
}

.header__hammenu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: whitesmoke;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__hammenu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hammenu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hammenu.open > span:nth-child(2) {
  opacity: 0;
}

.header__hammenu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.box1 {
  position: absolute;
  background-color: lightgrey;
  width: 24rem;
  height: 21rem;
  left: 23%;
  top: 95%;
}

.box2 {
  position: absolute;
  background-color: #5351bb;
  width: 24rem;
  height: 21rem;
  left: 38%;
  top: 95%;
}

.box3 {
  position: absolute;
  background-color: lightgrey;
  width: 24rem;
  height: 21rem;
  left: 53%;
  top: 95%;
}

.box4 {
  position: absolute;
  background-color: #514fc9;
  width: 24rem;
  height: 21rem;
  left: 68%;
  top: 95%;
}

.box__div {
  width: 100%;
  height: 40vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__div .box__1::before {
  content: "spplae";
  width: 25em;
  height: 15em;
  position: absolute;
  background-color: blue;
  left: 20em;
  z-index: 100;
  bottom: 15em;
}

.box__div .box__1::after {
  content: "";
  background-image: url(/images/group.svg);
  background-size: 10em 20em;
  position: absolute;
  width: 10em;
  height: 20em;
  left: 20em;
  z-index: 1000;
  bottom: 15em;
}

.box__div .box__2::before {
  content: "spplae";
  width: 25em;
  height: 15em;
  position: absolute;
  background-color: red;
  left: 45em;
  z-index: 100;
  bottom: 15em;
}

.box__div .box__2::after {
  content: "";
  background-image: url(/images/group.svg);
  background-size: 10em 20em;
  position: absolute;
  width: 10em;
  height: 20em;
  left: 45em;
  z-index: 1000;
  bottom: 15em;
}

.box__div .box__3::before {
  content: "spplae";
  width: 25em;
  height: 15em;
  position: absolute;
  background-color: blue;
  left: 70em;
  z-index: 100;
  bottom: 15em;
}

.box__div .box__3::after {
  content: "";
  background-image: url(/images/group.svg);
  background-size: 10em 20em;
  position: absolute;
  width: 10em;
  height: 20em;
  left: 70em;
  z-index: 1000;
  bottom: 15em;
}

.box__div .box__4::before {
  content: "spplae";
  width: 25em;
  height: 15em;
  position: absolute;
  background-color: red;
  left: 95em;
  z-index: 100;
  bottom: 15em;
}

.box__div .box__4::after {
  content: "";
  background-image: url(/images/group.svg);
  background-size: 10em 20em;
  position: absolute;
  width: 10em;
  height: 20em;
  left: 95em;
  z-index: 1000;
  bottom: 15em;
}

/* .news-a-wrapper {
  font-family: "Poppins", sans-serif !important;
} */
.news_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*   justify-content: center;
  align-items: center; */
}

.news_heading .news_title {
  font-size: 14rem;
  font-weight: 600;
  opacity: 0.2;
  margin-top: 3%;
  margin-left: 18%;
  /* text-align: center; */
}

.news_heading img {
  height: 7%;
  width: 7%;
  opacity: 0.2;
  margin-top: 5.5em;
  margin-left: 0.5em;
}

.news-container {
  margin: 32px 80px;
}

#news-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex: 0.5; */
  height: 80vh;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

/* #events-slider {
  display: flex;
  height: 100vh;
  align-items: center;
} */
.news-wrap {
  width: 100%;
  padding: 30px 0;
}

.news-grid {
  width: auto;
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
  /*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
  margin: 10px;
}

.news-grid-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.news-grid-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-grid-box {
  display: block;
  position: absolute;
  text-align: center;
  background: #26ccca;
  left: -80px;
  top: 15px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-grid-box h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}

.news-grid-box p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.news-grid-txt {
  padding: 25px;
}

.news-grid-txt span {
  color: #26ccca;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.news-grid-txt h2 {
  color: #111;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0px 5px 0px;
}

.news-grid-txt ul {
  padding: 0;
  margin: 0;
}

.news-grid-txt ul li {
  list-style: none;
  display: inline-block;
  color: #999;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 10px 8px 0px;
  letter-spacing: 1px;
}

.news-grid-txt ul li i {
  color: #26ccca;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}

.news-grid-txt p {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.news-grid-txt a {
  color: #fff;
  background: #26ccca;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Hover-Section*/
.news-grid:hover .news-grid-box {
  left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-grid:hover .news-grid-image img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*OWL*/
.owl-controls .owl-buttons {
  position: relative;
}

.owl-controls .owl-prev {
  position: absolute;
  left: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-controls .owl-next {
  position: absolute;
  right: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-controls .owl-prev:after,
.owl-controls .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #fff;
  font-size: 16px;
}

.owl-controls .owl-next:after {
  content: "\f105";
}

.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
  background: #000;
}

/* Announcement */
.a_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a_heading .a_title {
  font-size: 14rem;
  font-weight: 600;
  opacity: 0.2;
  margin-top: 6%;
}

.a_heading img {
  /* width: 40px;
    height: 40px; */
  height: 15%;
  width: 15%;
  opacity: 0.2;
  margin-top: 5em;
  /* margin-left: 0.5em; */
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.a-container {
  /*  margin: 32px 0;
  margin-top: 22em; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  /* .a-list {
    font-size: 5rem;
  } */
}

.a-container .a-sub {
  width: 100%;
  height: 100%;
  margin-top: 3em;
}

.a-container .a-sub .a-body {
  height: 7.3%;
  width: 90%;
  /* background: #e0e0e0; */
  border-radius: 10px;
  /* box-shadow: 5px 5px 20px #9f9f9f, -5px -5px 20px #ffffff; */
  margin: 2em 1em;
  position: relative;
}

.a-container .a-sub .a-body .date {
  font-size: 1.2rem;
  font-weight: 700;
  color: #8a8888;
  margin: 0.4em 0.8em 0.1em 0.5em;
}

.a-container .a-sub .a-body .notice {
  font-size: 1.7rem;
  color: black;
  opacity: 0.8;
  margin: 0.4em 0.4em 0.1em 0.4em;
}

.a-container .a-sub .a-body .notice:hover {
  color: red;
}

.a-container .a-sub .a-body .new {
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  -webkit-animation: colorchange 2s infinite alternate;
          animation: colorchange 2s infinite alternate;
  margin-left: 1em;
}

.a-container .a-sub .a-body::before {
  content: "";
  width: 21%;
  height: 23%;
  border: 2px solid #979797;
  position: absolute;
  border-radius: 10px;
}

.a-container .a-sub .a-body:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #979797;
  position: absolute;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  border-radius: 10px;
}

.events_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events_heading .events_title {
  font-size: 14rem;
  font-weight: 600;
  opacity: 0.2;
  margin-left: 35%;
}

.events_heading img {
  height: 9%;
  width: 9%;
  opacity: 0.2;
  margin-top: 2.5em;
  margin-left: 0.5em;
}

#events-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-wrap {
  width: 100%;
  padding: 30px 0;
}

.events-grid {
  width: auto;
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
  /*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
  margin: 10px;
}

.events-grid-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.events-grid-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.events-grid-box {
  display: block;
  position: absolute;
  text-align: center;
  background: #26ccca;
  left: -80px;
  top: 15px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.events-grid-box h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}

.events-grid-box p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.events-grid-txt {
  padding: 25px;
}

.events-grid-txt span {
  color: #26ccca;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.events-grid-txt h2 {
  color: #111;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0px 5px 0px;
}

.events-grid-txt ul {
  padding: 0;
  margin: 0;
}

.events-grid-txt ul li {
  list-style: none;
  display: inline-block;
  color: #999;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 10px 8px 0px;
  letter-spacing: 1px;
}

.events-grid-txt ul li i {
  color: #26ccca;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}

.events-grid-txt p {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.events-grid-txt a {
  color: #fff;
  background: #26ccca;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Hover-Section*/
.events-grid:hover .events-grid-box {
  left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.events-grid:hover .events-grid-image img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25em;
  /* padding-bottom: 5rem; */
}

.counter_img {
  width: 100%;
  height: 25%;
  background-image: url("/images/1.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 3, 3, 0.9);
  background-blend-mode: multiply;
  color: white;
  line-height: 98.3rem;
  text-align: center;
  font-size: 3rem;
  background-attachment: fixed;
  position: absolute;
}

.counter .students {
  z-index: 2;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counter .students_n {
  font-size: 5rem;
  font-weight: 400;
}

.counter .students_line {
  width: 12.5rem;
  height: 7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.counter .students_t {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 50;
}

.counter .faculty {
  z-index: 2;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counter .faculty_n {
  font-size: 5rem;
  font-weight: 400;
}

.counter .faculty_line {
  width: 11rem;
  height: 7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.counter .faculty_t {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 50;
}

.counter .staff {
  z-index: 2;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counter .staff_n {
  font-size: 5rem;
  font-weight: 400;
}

.counter .staff_line {
  width: 9rem;
  height: 7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.counter .staff_t {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 50;
}

.faq_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85rem;
  /* flex-direction: column; */
  position: relative;
}

.faq_gallery #wave {
  /* position: absolute; */
  /* width: 30rem; */
  height: 85rem;
  /*  left: 78.5rem; */
}

/* FAQ */
.faq {
  background-color: white;
  color: black;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-size: 2rem;
  /* margin: 5rem; */
  margin-left: 17rem;
  width: 45%;
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 15rem;
}

.faq .faq_group .faq_name {
  position: absolute;
  /* padding- */
  left: 15rem;
  /* top: 5rem; */
  font-size: 10rem;
  font-weight: 600;
  opacity: 0.2;
  /* padding- */
  /* top: 10rem; */
}

.faq .faq_group img {
  height: 7rem;
  width: 7rem;
  opacity: 0.2;
  position: absolute;
  top: -3rem;
  left: 41rem;
}

.Accordion {
  padding-top: 15rem;
  padding-bottom: 6rem;
}

.Accordion__tabs {
  max-width: 600px;
  list-style: none;
}

.Accordion__tab {
  width: 100%;
}

.Accordion__tab__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(248, 248, 248, 0.5);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  padding: 20px 15px;
  cursor: pointer;
}

.Accordion__tab__headline:hover {
  background-color: #607bba;
}

.Accordion__tab__headline > .faq_title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.Accordion__tab__headline .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  position: relative;
}

.Accordion__tab__headline .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.Accordion__tab__headline .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
  background: currentColor;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.Accordion__tab__content {
  overflow: hidden;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-height: 0;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Accordion__tab--open .Accordion__tab__headline .icon::after {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

/* Gallery */
.gallery-container {
  width: 83rem;
  background-color: rgba(181, 232, 255, 0.25);
  /* The Modal */
  /* Caption text */
  /* The Close Button */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}

.gallery-container .gallery {
  margin-top: 15em;
}

.gallery-container .gallery .gallery_group {
  margin-top: 70px;
  margin-left: 30px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-container .gallery .gallery_group .gallery_name {
  font-size: 10rem;
  font-weight: 600;
  opacity: 0.2;
}

.gallery-container .gallery .gallery_group .gallery_icon {
  width: 80px;
  height: 80px;
  opacity: 0.2;
  margin-left: 10px;
  margin-top: -30px;
}

.gallery-container .gallery .gallery_grid {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.2fr)[4];
      grid-template-columns: repeat(4, 0.2fr);
  grid-auto-rows: 100px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-container .gallery .gallery_grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.gallery-container .gallery .gallery_grid .gallery_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery-container .gallery .gallery_grid .gallery_4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery-container .gallery .gallery_grid .gallery_5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery-container .gallery .gallery_grid .gallery_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.gallery-container img.hover-shadow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery-container .carousel-row {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-container .carousel-row--img {
  width: 30%;
  margin-bottom: 10px;
}

.gallery-container .carousel-row--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gallery-container .carousel-row--img img:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-container .column-box {
  white-space: nowrap;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.gallery-container .column-box .column {
  width: 20%;
  display: inline-block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.gallery-container .column-box .column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.gallery-container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery-container .modal.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery-container .modal-content {
  margin: auto;
  width: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 37.5em) {
  .gallery-container .modal-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anime {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery-container .my-slides {
  display: none;
  height: 60vh;
  -webkit-transition: all 2s;
  transition: all 2s;
  overflow: hidden;
  -webkit-animation: anime 0.8s ease-in;
          animation: anime 0.8s ease-in;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .gallery-container .my-slides {
    height: 70vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .gallery-container .my-slides {
    height: 30vh;
  }
}

.gallery-container .my-slides img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-container .my-slides--number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gallery-container .demo {
  opacity: 0.8;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.gallery-container .demo.active,
.gallery-container .demo:hover {
  opacity: 1;
}

.gallery-container .caption-container {
  text-align: center;
  padding: 6px 16px;
  color: white;
}

.gallery-container .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.gallery-container .close:hover,
.gallery-container .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.gallery-container .prev,
.gallery-container .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 37.5em) {
  .gallery-container .prev,
  .gallery-container .next {
    position: fixed;
    top: 95%;
    padding: 10px;
    font-size: 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.gallery-container .prev:active,
.gallery-container .next:active {
  font-size: 30px;
}

.gallery-container .next {
  right: 0;
}

.gallery-container .prev {
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .gallery-container .prev {
    left: 80%;
  }
}

.gallery-container .prev:hover,
.gallery-container .next:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .gallery-container .prev:hover,
  .gallery-container .next:hover {
    background-color: transparent;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #212730;
  height: 85vh;
  font-family: "Nunito", sans-serif;
}

.footer__col_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer__col_1 .f_logo {
  width: 27rem;
  height: 27rem;
  opacity: 0.5;
  margin-left: 20rem;
  margin-top: 17rem;
}

.footer__col_1 .f_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
  opacity: 0.8;
  padding-left: 5rem;
  padding-top: 12.5rem;
}

.footer__col_1 .f_name .f_row_1 {
  font-size: 3rem;
  padding-left: 13rem;
  padding-top: 2rem;
}

.footer__col_1 .f_name .f_and {
  position: absolute;
  font-family: "Marck Script", cursive;
  font-size: 25rem;
  left: 39.5rem;
  top: 8.2rem;
  opacity: 0.2;
  padding-left: 5rem;
}

.footer__col_1 .f_name .f_row_2 {
  font-size: 3rem;
  padding-left: 13rem;
  padding-top: 3rem;
}

.footer__col_1 .f_name .f_row_3 {
  font-family: "Pacifico", cursive;
  font-size: 3.8rem;
  padding-left: 20rem;
  padding-top: 2.5rem;
}

.footer__col_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  position: relative;
}

.footer__col_2 .f_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* color: white; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.8;
}

.footer__col_2 .f_links .implinks {
  font-size: 3rem;
  left: 30rem;
  top: 18rem;
  color: lightgray;
  position: absolute;
}

.footer__col_2 .f_links .l_links {
  font-size: 2rem;
  left: 34rem;
  top: 23rem;
  text-align: center;
  /* color: rgba($color: #c7c7c7, $alpha: 0.5); */
  position: absolute;
}

.footer__col_2 .f_links .l_links .links {
  padding-top: 1rem;
}

.footer__col_2 .f_links .l_links a {
  text-decoration: none;
  color: rgba(199, 199, 199, 0.5);
}

.footer__col_2 .f_links .l_links .links:hover > a {
  color: rgba(199, 199, 199, 0.8);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  display: block;
}

.footer__col_2 .f_address {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  top: 65rem;
  left: 28rem;
  line-height: 2.5rem;
  font-weight: 900;
  /* opacity: 0.5; */
}

.footer__col_2 .f_address a {
  text-decoration: none;
  color: rgba(199, 199, 199, 0.5);
}

.footer__col_2 .f_address .address:hover > a {
  color: rgba(199, 199, 199, 0.8);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  display: block;
}

.footer__col_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  position: relative;
}

.footer__col_3 .weather .weather-icon i {
  width: 7rem;
  height: 7rem;
}

.footer__col_3 .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 65rem;
  left: 25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: rgba(199, 199, 199, 0.5);
}

.footer__col_3 .contact .f_pno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col_3 .contact .f_pno img {
  height: 2rem;
  width: 2rem;
  opacity: 0.5;
}

.footer__col_3 .contact .f_pno .pno {
  margin-left: 2rem;
  margin-top: 0.2rem;
}

.footer__col_3 .contact .f_emailid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.footer__col_3 .contact .f_emailid img {
  height: 2rem;
  width: 2rem;
  opacity: 0.5;
  margin-left: -5.6rem;
}

.footer__col_3 .contact .f_emailid .emailid {
  margin-left: 5.3rem;
  margin-top: 0.2rem;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes anim-1 {
  0%,
  8.3% {
    top: 10%;
    opacity: 0;
  }
  8.3%,
  25% {
    top: 15%;
    opacity: 1;
  }
  33.33%,
  100% {
    top: 25%;
    opacity: 0;
  }
}

@keyframes anim-1 {
  0%,
  8.3% {
    top: 10%;
    opacity: 0;
  }
  8.3%,
  25% {
    top: 15%;
    opacity: 1;
  }
  33.33%,
  100% {
    top: 25%;
    opacity: 0;
  }
}

@-webkit-keyframes anim-2 {
  0%,
  33.33% {
    top: 10%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    top: 15%;
    opacity: 1;
  }
  66.66%,
  100% {
    top: 25%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    top: 10%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    top: 15%;
    opacity: 1;
  }
  66.66%,
  100% {
    top: 25%;
    opacity: 0;
  }
}

@-webkit-keyframes anim-3 {
  0%,
  66.66% {
    top: 10%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    top: 15%;
    opacity: 1;
  }
  100% {
    top: 25%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    top: 10%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    top: 15%;
    opacity: 1;
  }
  100% {
    top: 25%;
    opacity: 0;
  }
}

/* News - New Animation */
@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
@keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

/* Gallery Modal */
@keyframes anime {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Nunito */
/* Aquafina */
/*# sourceMappingURL=main.css.map */